<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Peaky Blinders</title>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>

<body class="flex flex-col min-h-screen bg-gray-100">
    <header>
        <nav class="w-full fixed top-0 z-50 bg-white border-gray-200 px-4 lg:px-6 py-2 dark:bg-gray-800 shadow">
            <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
                <a href="#" class="flex items-center">
                    <img src="/logo.png" alt="Peaky Blinders Logo" class="mr-3 h-6 sm:h-9">
                    <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Peaky
                        Blinders</span>
                </a>
                <div class="flex items-center lg:order-2">
                    <a href="#"
                        class="text-gray-800 dark:text-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800">Ingresa
                    </a>
                    <a href="#"
                        class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800">Crea tu cuenta</a>
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="flex-grow mt-2">
        <!-- Contenido principal de tu página -->
        <div class="container mx-auto px-4 py-8">
            <!-- Aquí va el contenido de tu página -->
            @RenderBody()
        </div>
    </main>

    <footer class="bg-white rounded-lg shadow p-4 sm:p-6 xl:p-8 dark:bg-gray-800 mt-auto">
        <div class="container mx-auto px-4">
            <p class="mb-4 text-sm text-center text-gray-500 dark:text-gray-400 sm:mb-0">
                &copy; 2024 <a href="#" class="hover:underline" target="_blank">Peaky Blinders</a>. Reservados todos los
                derechos.
            </p>
        </div>
    </footer>
    <script src="../path/to/flowbite/dist/flowbite.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
