<!DOCTYPE html>
<html lang="en">
@* <html lang="en" class="dark"> *@

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Peaky Blinders</title>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>

<body class="flex flex-col min-h-screen bg-gray-100">

    <main role="main" class="h-full">
        <!-- Contenido principal de tu página -->
        <div class="container mx-auto">
            <!-- Aquí va el contenido de tu página -->
            @RenderBody()
        </div>
    </main>

    <script src="../path/to/flowbite/dist/flowbite.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>